*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background: rgb(241, 241, 241);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(233, 232, 232);
    z-index: 100;
    padding: 0 30px 0 30px;
}
.header_wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.header_nav{
    padding-top: 10px;
}
.header_burger{
    display: none;
    margin: 13px 0 13px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu_item{
    font-size: 40px;
    font-family: 'poiret one';
    font-weight: 1000;
    padding: 4px;
    position: relative;
    display: block;
    height: 100%;
    padding-bottom: 10px;
}
.menu_link{
    color: black;  
}
.menu_item:hover .menu_link{
    color: rgb(100, 99, 99);
    cursor: default;
}
.drop_menu{
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 100%;
    height: 140px;
    width: 155px;
    transition: 0.2s;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.drop_menu_item{
    width: 100%;
    height: 50%;
    background: rgb(231, 231, 231);
    text-align: center;
}
.drop_menu_item:hover, .drop_menu_item:focus, .drop_menu_item:active{
    background: rgb(202, 202, 202);
    transition: 0.2s;
}
.drop_menu_link{
    display: block;
    color: black;
    font-size: 22px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.tems{
    border-bottom: solid 1px rgb(97, 88, 88);
}
.link_tems{
    background: url(../media/tems_1.png) no-repeat center 90% ;
}
.link_tests{
    background: url(../media/test_1.png) no-repeat center 90% ;
}
.menu .menu_item:hover .drop_menu{
    display: flex;
}

/*  */

.intro{
    width: 100%;
    background: url(../media/main_bg.png) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}
.current_wrapper{
    background: white;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 40px;
}
.current{
    box-shadow: 0px 15px 20px rgba(21, 20, 17, 0.25);
    z-index: 10;
}
.current_title{
    padding: 50px 20px 60px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: 60px;
    text-align: center;
    transform: translateY(-100%);
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.current_title:after{
    content: url('../media/arrow_1.png');
    display: block;
    margin-bottom: -80px;
}

.predmets{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    padding: 3px 50px 0 50px;
    background: #fff;
    margin-bottom: 30px;
}


.current_h{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 20px;
    border-bottom: solid 2px #000;
    text-align: center;
}
.predmet_card{
    box-shadow: 0px 1px 12px rgba(21, 20, 17, 0.25) ;
    padding: 5px;
}
.actual_p{
    margin-bottom: 28px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;
    color: rgb(60, 101, 122);
    text-align: center;
}
.actual_p_list{
    margin-bottom: 35px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.actual_p_list li{
    margin-bottom: 20px;
}
.next_tems li:first-child{
    margin-bottom: 4px;
}
.next_tems li{
    opacity: 0.35;
}
.learn_tems li:nth-child(3){
    margin-bottom: 0px;
}





@media screen and (max-width: 860px) {
    .predmets{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 100px;

    }
}
@media screen and (max-width: 650px){
    .current_title{
        font-size: 48px;
        line-height: 42px;
    }
}
@media screen and (max-width: 800px) {
    .menu_link{
        font-size: 26px;
    }
    .drop_menu{
        height: 140px;
        width: 100px;
    }
    .drop_menu_link{
        font-size: 19px;
    }
}